<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/infoscreen.css">
</head>
<body>

    <div class="col-lg-12">
        <form id="title-form">
            <input type="text" name="title" id="project-title">
        </form>
    </div>

    <div class="col-lg-9" id="project">
        <form id="project-content">
            <textarea type="text" name="text" id="project-text"></textarea>
        </form>
    </div>

    <div class="col-lg-3" id="project-sidebar">
        <div class="row">
            <div class="col" id="project-upload">
                <input type="file" id="imgInp">
            </div>

            <div class="col" id="project-submit">
                <button type="button" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </div>

    <script src="../js/jquery-3.1.1.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../test/test3.js"></script>
</body>
</html>